.loading {
  background-color: rgba(120, 137, 200, 0.389);
  border-radius: 3px;
  animation: loading-animation 0.5s cubic-bezier(0.1, 0.4, 0.8, 0.5) infinite;
}

@keyframes loading-animation {
  100% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  0% {
    opacity: 0.1;
  }
}
